@use "../../utilities/functions" as f;
@use "../../utilities/mixins" as mx;
@use "../../utilities/variables" as v;


//===========================================================================//
//                                                                           //
//                             INTRO INDEX                                   //
//                                                                           //
//===========================================================================//
//
//
//                           ESTRUCTURA HTML
//
//  <section c="intro-index">
//      <article c="intro-index__article">
//        <h2 c="intro-index__title"></h2>
//        <p c="intro-index__paragraph"></p>
//      </article>
//      <picture c="intro-index__picture">
//        <source></source>
//        <img c="intro-index__image"></img>
//      </picture>
//      <article c="intro-index__article">
//        <h2 c="intro-index__title"></h2>
//        <p c="intro-index__paragraph"></p>
//      </article>
//  </section>
//
//
//
//  ¡IMPORTANTE! El 'rem' equivale a 10px ya que el 'font-size' de la etiqueta 'html' está al 62,5%.




.intro-index {
  @include mx.transition;
  padding-top: 7.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

//  Device Small
  @include mx.responsive('sm') {
    padding-top: 6.15rem;
  }

//  Device Medium
  @include mx.responsive('md') {
    padding-top: 11.5rem;
  }

//  Device Large
  @include mx.responsive('lg') {
    margin-top: 10rem;
    padding-top: 10rem;
  }

//  Device XX-Large
  @include mx.responsive('xxl') {
    margin-top: 7.5rem;
  }
}


.intro-index__article {
  @include mx.transition((all, width), (0.75s, 0s));
  @include mx.font-stack($t-a: center);//  text-align

  &:last-child {
    @include mx.size(100vw);//  width
    background-color: v.$white;
    padding: 11.5rem 0 9.15rem;

  //  Device Medium
    @include mx.responsive('md'){
      padding: 15.6rem 0 12.3rem;
    }
  }
}


.intro-index__title {
  @include mx.transition;
  @include mx.font-stack(
    $c: v.$light-blue,//  color
    $f-s: 2.2rem,//  font-size
    $f-w: 'light',//  font-weight
  );
  margin-bottom: 0.947368421em;
  
  &--color-weight {
    @include mx.font-stack(
      $c: v.$orange,//  color
      $f-w: 'medium',//  font-weight
    );
  }

//  Device 346px
  @include mx.responsive(346px) {
//  Una vez llegados a 346px se puede agrandar el 'font-size' sin que se rompa el diseño.
    @include mx.font-stack($f-s: 2.6rem);//  font-size
  }

//  Device Medium
  @include mx.responsive('md') {
    @include mx.font-stack($f-s: 3.8rem);//  font-size
  }
}


.intro-index__paragraph {
  @include mx.size($wmax: 30ch);//  max-width
  @include mx.transition;
  @include mx.font-stack(
    $l-h: 1.5em,//  line-height
    $l-e: -0.02em,//  letter-spacing
    $c: v.$brown,//  color
    $f-s: 1.1rem,//  font-size
    $f-w: 'light',//  font-weight
  );
  margin: 0 auto;

  .intro-index__article:not(:last-child) & {
    margin-bottom: 3.78611em;
  }

//  Device 296px
  @include mx.responsive(296px) {
//  Una vez llegados a 296px se puede agrandar el 'font-size' sin que se rompa el diseño.
    @include mx.font-stack($f-s: 1.2rem);//  font-size
  }

//  Device 346px
  @include mx.responsive(346px) {
//  Una vez llegados a 346px se puede agrandar el 'font-size' sin que se rompa el diseño.
    @include mx.font-stack($f-s: 1.4rem);//  font-size
  }

//  Device Small
  @include mx.responsive('sm') {
    @include mx.size($wmax: 34ch);//  max-width
    @include mx.font-stack($l-e: 0);//  letter-spacing
  }

//  Device Medium
  @include mx.responsive('md') {
    @include mx.font-stack($f-s: 1.8rem);//  font-size
  }
}


.intro-index__image {
  @include mx.transition;
  margin-bottom: -1rem;
  filter: drop-shadow(2.5px 2.5px 5px #00000066);

//  Device Medium
  @include mx.responsive('md') {
    margin-bottom: -2.5rem;
    filter: drop-shadow(5px 5px 10px #00000066);
  }
}