@use "sass:map";
@use "variables" as v;




//===================================================================
//  Breakpoints
//===================================================================

$breakpoints: (
  'sm': (min-width: 576px),
  'md': (min-width: 768px),
  'lg': (min-width: 992px),
  'xl': (min-width: 1200px),
  'xxl': (min-width: 1400px),
);

//===================================================================
//  Cierre de Breakpoints
//===================================================================




//===================================================================
//  Header Color
//===================================================================

//  Estos mapas son usados en mixins para poder recorrerlos y así asignar un
//  'background-color' al elemento involucrado según este se encuentre en un
//  'header' de color 'brown' o 'blue'.

$header-color: (
  'brown': v.$brown,
  'blue': v.$light-blue
);

$header-color-05: (
  'brown': v.$brown-05,
  'blue': v.$light-blue-05
);

//===================================================================
//  Cierre de Header Color
//===================================================================




//===================================================================
//  Font Weight
//===================================================================

$font-weight: (
  'light': 300,
  'regular': 400,
  'medium': 500,
  'semi-bold': 600,
  'bold': 700,
);

//===================================================================
//  Cierre de Font Weight
//===================================================================




//===================================================================
//  Propiedades de las Mini Cards y su Carrousel
//===================================================================

//  Propiedades para dimensionar las Mini Cards y el Carrousel presentes
//  en el documento 'plate-*' a través de las distintas vistas.

$mini-card: (
  'height': 18rem,
  'width': 16rem,
);

$carrousel: (
  'gap': 4rem
);

//===================================================================
//  Cierre de propiedades de las Mini Cards y su Carrousel
//===================================================================