@use "sass:color";
@use "sass:list";
@use "sass:math";




//===================================================================
//  Colores
//===================================================================

$white: #fff;

//  Tono Marrón  //

$brown: rgba(113, 83, 67, 1);
$brown-07: color.adjust($brown, $alpha: -0.3);
$brown-05: color.adjust($brown, $alpha: -0.5);
$brown-01: color.adjust($brown, $alpha: -0.9);

$dark-brown: rgba(43, 0, 0, .5); 

$light-brown: rgba(247, 231, 148, 1);

// Tono azul  //

$light-blue: rgba(15, 159, 214, 1);
$light-blue-07: color.adjust($light-blue, $alpha: -0.3);
$light-blue-05: color.adjust($light-blue, $alpha: -0.5);
$light-blue-02: color.adjust($light-blue, $alpha: -0.8);

$bondi-blue: rgb(0, 135, 187);

$dodger-blue: rgba(0, 185, 255, 1);

$control-card-blue: rgba(184, 213, 225, 1);

$blue-gradient: rgba(82, 201, 221, 1);

//  Tono naranja  //

$orange: rgba(237, 125, 59, 1);
$orange-05: color.adjust($orange, $alpha: -0.5);
$orange-02: color.adjust($orange, $alpha: -0.8);
$orange-015: color.adjust($orange, $alpha: -0.85);


$blaze-orange: rgba(255, 95, 0, 1);

$orange-thumb-hover: rgba(235, 145, 92, 1);

$orange-gradient: rgba(255, 160, 123, 1);

//===================================================================
//  Cierre de Colores
//===================================================================




//===================================================================
//  Interletter
//===================================================================

//  Valor de 'letter-spacing' utilizado en múltiples ocasiones.

$interletter: 0.03em;

//===================================================================
//  Cierre Interletter
//===================================================================




//===================================================================
//  Order
//===================================================================

//  Valores para ser usados en el 'footer' con el objetivo de ordenar
//  visualmente sus partes a través de la propiedad 'order' de flexbox.

$first: -1;
$medium: 5;
$last: 10;

//===================================================================
//  Cierre Order
//===================================================================








//===================================================================
//  Box Shadows
//===================================================================

$box-shadow-1: 5px 5px 10px #00000035;
$box-shadow-2: 5px 5px 10px #00000020;
$box-shadow-3: 3px 3px 10px #00000020;

$box-shadow-4: 0.1875em 0.1875em 0.375em #00000050;

//===================================================================
//  Cierre de Box Shadows
//===================================================================




//===================================================================
//  Range
//===================================================================

$thumb-size: 0.83333em;
$range-height: math.div($thumb-size, 3);

$trackColor: rgba(247, 202, 176, 1);

//===================================================================
//  Cierre de Range
//===================================================================




//===================================================================
//  Nutritional Info Aspect
//===================================================================

//  Medidas recurrentes basadas en el 'font-size' de varios componentes
//  pertenecientes a 'nutritional-info' del los documentos 'plate'.

$aspect-main: 0.25em;

$aspect-details: 0.35714em;

$aspect-data: 0.8125em;

$aspect-amount: 0.375em;

//===================================================================
//  Cierre Nutritional Info Aspect
//===================================================================