@use "../../utilities/mixins" as mx;
@use "../../utilities/variables" as v;


//===========================================================================//
//                                                                           //
//                                   CARDS                                   //
//                                                                           //
//===========================================================================//
//
//
//                             ESTRUCTURA HTML
//
//  <section c="cards__container">
//    <article c="cards__card">
//      <picture c="cards__card__picture">
//        <source c="cards__card__source"></source>
//        <img c="cards__card__image">
//      </picture>
//      <h2 c="cards__card__title"></h2>
//      <p c="cards__card__price"></p>
//      <div c="cards__card__links">
//        <a c="cards__card__link"></a>
//        <a c="cards__card__link">
//          <svg>...</svg>
//        </a>
//      </div>
//    </article>
//  </section>
//
//
//
//  ¡IMPORTANTE! El 'rem' equivale a 10px ya que el 'font-size' de la etiqueta 'html' está al 62,5%.


@keyframes card-show-opacity {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.cards__container {
  display: grid;
  grid: {
    template-columns: repeat(auto-fill, minmax(26rem, 1fr));
    row-gap: 10rem;
    column-gap: 2rem;
  }
  justify: {
    items: center;
    content: center;
  }
  margin: 17rem auto 10rem;

//  Device XX-Large
  @include mx.responsive('xxl') {
    column-gap: 6rem;
  }

  &--error {
    //  Mixin que genera los 'background-image' del contenedor de 'cards' cuando se ha
    //  producido un error relacionado a la solicitud de platos al servidor.
    //  (Ver estructura en 'utilities/mixins').
    @include mx.bg-error;
    @include mx.font-stack($f-s: 1.5rem);//  font-size
    grid: {
      template-columns: none;
      row-gap: 1em;
    }
    margin: {
      top: 10rem;
      bottom: 0;
    }
    box-shadow: v.$box-shadow-2;
    background: {
      color: v.$brown-01;
      position: center;
      repeat: no-repeat;
    }
    padding: 2.33333em 2em;
    animation: card-show-opacity 1s ease-out;

//  Device 360px
    @include mx.responsive(360px) {
    //  Una vez llegados a 360px se puede agrandar el 'font-size' sin que se rompa el diseño.
      @include mx.font-stack($f-s: 1.8rem);//  font-size
    }

//  Device Small
    @include mx.responsive('sm') {
      @include mx.font-stack($f-s: 2.6rem);//  font-size
    }

//  Device Medium
    @include mx.responsive('md') {
      @include mx.font-stack($f-s: 3.4rem);//  font-size
    }

//  Device Large
    @include mx.responsive('lg') {
      background-position-x: 45rem;
      justify-items: start;
    }
  }
}


.cards__error__title {
  @include mx.transition;
  @include mx.font-stack(
    $l-h: 1.6em,//  line-height
    $t-a: center,//  text-align
    $c: v.$orange,//  color
    $f-s: inherit,//  font-size
    $f-w: 'regular',//  font-weight
  );
  margin: 0;

  //  Device Large
  @include mx.responsive('lg') {
    @include mx.font-stack($t-a: left);//  text-align
  }
}


.cards__error__reload {
  @include mx.transition;
  @include mx.size(
    $w: 2.66666em,//  width
    $wmax: 6rem,//  max-width
    $h: 2.66666em,//  height
    $hmax: 6rem,//  max-height
  );
  opacity: 0.7;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}


.cards__card {
  @include mx.cards;//  Mixin que genera los estilos de la 'card' (ver estructura en 'utilities/mixins').
  @include mx.size(
    $w: 100%,//  width
    $wmax: 30rem,//  max-width
  );
  justify-content: space-between;
  padding: 5rem 0;
  box-shadow: v.$box-shadow-2;
  animation: card-show-opacity 1s ease-out;

//  Device Small
  @include mx.responsive('sm') {
    @include mx.size(
      $wmax: none,//  max-width
      $h: 26rem,//  height
    );
    align: {
      content: flex-start;
      items: flex-start;
    }
    justify-content: center;
    padding: 0;
  }

//  Device Medium
  @include mx.responsive('md') {
    @include mx.size(
      $wmax: 30rem,//  max-width
      $h: auto,//  height
    );
    align: {
      content: center;
      items: center;
    }
    justify-content: space-between;
    padding: 5rem 0;
  }
}


.cards__card__picture {
  @include mx.transition;
  margin-bottom: 5rem;

//  Device Small
  @include mx.responsive('sm') {
    margin: 3rem;
  }

//  Device Medium
  @include mx.responsive('md') {
    margin: 0 0 5rem 0;
  }
}


.cards__card__image {
//  El width & height de estas imágenes están declarados directamente en el documento html
//  a través de los atributos 'width' y 'heigth' de la etiqueta <img> para permitirle al
//  navegador conocer el tamaño antes de descargar la imagen y evitar saltos en la página
//  mientras carga.
//  Las dimensiones declaradas son de 200x200.

  @include mx.transition;
  filter: drop-shadow(7px 7px 10px #00000066);

  .cards__card:hover & {
    transform: scale(1.125, 1.125);
  }
}



//===================================================================
//  'Placeholder' que se extenderá a próximos selectores
//===================================================================

%cards__card-title-price {
  @include mx.font-stack(
    $l-h: 1.5em,//  line-height
    $f-s: 1.8rem,//  font-size
  );
  margin-bottom: 1.38888888em;
}

//===================================================================
//  Cierre de 'placeholder'
//===================================================================


.cards__card__title {
  @extend %cards__card-title-price;
  @include mx.size(20ch);//  width
  @include mx.font-stack(
    $t-a: center,//  text-align
    $c: v.$light-blue,//  color
    $f-w: 'medium',//  font-weight
  );
  display: -webkit-box;
  -webkit-line-clamp: 2;//  Dos renglones
  -webkit-box-orient: vertical;
  overflow: hidden;

//  Device Small
  @include mx.responsive('sm') {
    @include mx.size(12ch);//  width
    @include mx.font-stack($t-a: left);//  text-align
    -webkit-line-clamp: 3;//  Tres renglones
  }

//  Device Medium
  @include mx.responsive('md') {
    @include mx.size(20ch);//  width
    @include mx.font-stack($t-a: center);//  text-align
    -webkit-line-clamp: 2;//  Dos renglones
  }
}


.cards__card__price {
  @extend %cards__card-title-price;
  @include mx.font-stack(
    $c: v.$brown,//  color
    $f-w: 'light',//  font-weight
  );
}


.cards__card__link {
  @include mx.transition($duration: 0.5s);
  @include mx.font-stack(
    $l-e: v.$interletter,//  letter-spacing
    $c: v.$light-blue,//  color
    $f-s: 1.8rem,//  font-size
    $f-w: 'regular',//  font-weight
  );
  display: inline-block;
  border: 0.05555em solid v.$light-blue;
  padding: 0.55555em 0.66666em;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 0.69444em;
  }

  &:hover {
    @include mx.font-stack($c: v.$white);//  color
    background-color: v.$light-blue;
  }
}